.boardCell{
    height: 3vh;
    min-width: 3vh;
    box-shadow: 0.05vw 0 0 0 #4f4f46, 0 0.05vw 0 0 #4f4f46,
    0.05vw 0.05vw 0 0 #4f4f46, 0.05vw 0 0 0 #4f4f46 inset,
    0 0.05vw 0 0 #4f4f46 inset;
}