.appContainer {
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.boardContainer {
  margin-top: 20px;
  margin-bottom: 10px;
  height: 77vh;
  width: 77vh;
  border: 5px solid #888;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.boardContainer::-webkit-scrollbar { /*Chrome, Safari and Opera */
  display: none;
} 

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4f4f46;
}
