.boardControls {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 20vh;
    justify-content: space-between;
  }
  
  .boardControls_signalArea {
    width: 20vh;
    height: 20vh;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bdbdbb;
    box-shadow: 5px 5px 5px #888;    
  }
  
  .boardControls_signalArea p {
    font-size: 1rem;
    color: white;
    text-align: center;
    text-shadow: black 1px 0 10px;
  }

  .boardControls_signalArea_spinner{
    color: white;
    filter: drop-shadow(2px 2px 5px black);
    animation: spin infinite 3s linear;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .boardControls_btnContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .boardControls_btnContainer_btn {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    background-color: #bdbdbb;
    color: black;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 5px 5px 5px #888;    

  }
  
  .boardControls_btnContainer_btn:hover,
  .boardControls_btnContainer_btn:active {
    background-color: #888;
    border-color: black;
    color: white;
    box-shadow: 5px 5px 5px black;    

  }